<template>
  <div class="container mx-auto my-6">
    <h1 class="font-medium text-xl mb-2">Demos</h1>
    <ol class="ml-7">
      <li v-for="demo in demos" class="list-decimal">
        <router-link class="text-indigo-500 hover:underline" :to="demo.path">
          {{ demo.name }}
        </router-link>
      </li>
    </ol>
  </div>
</template>

<script setup>
import {ref} from "vue";

const demos = ref([
  {
    path: '/demos/vue2',
    name: 'Vue 2'
  },
  {
    path: '/demos/vue3-state',
    name: 'Vue 3 State'
  },
  {
    path: '/demos/vue3-refs',
    name: 'Vue 3 Refs'
  },
  {
    path: '/demos/vue3-setup',
    name: 'Vue 3 Setup'
  },
  {
    path: '/demos/vue3-composable',
    name: 'Vue 3 Composable'
  },
  {
    path: '/demos/vue3-css-variables',
    name: 'Vue 3 CSS Variables'
  },
])
</script>

<style scoped>

</style>
