<template>
  <div>
    <MultipleVModelsChild
        v-model:first-name="firstName"
        v-model:last-name="lastName"
    />
  </div>
</template>

<script setup>
import {ref} from 'vue';
import MultipleVModelsChild from "./MultipleVModelsChild.vue";

const firstName = ref('Noval')
const lastName = ref('Oktavio')
</script>

<style scoped>

</style>
