<template>
  <div>
    <input
        type="text"
        placeholder="First Name"
        :value="props.firstName"
        @input="updateFirstName"
    >
    <input
        type="text"
        placeholder="Last Name"
        :value="props.lastName"
        @input="emit('update:lastName', $event.target.value)"
    >
  </div>
</template>

<script setup>
import {defineEmit, defineProps} from 'vue';

const props = defineProps({
  firstName: String,
  lastName: String
})

const emit = defineEmit([
  'update:firstName',
  'update:lastName'
])

const updateFirstName = $event => {
  emit('update:firstName', $event.target.value)
}

</script>

<style scoped>

</style>
