<template>
  <div>
    <li v-for="item in items"> {{ item }} </li>

    <span>
      {{ b }}
    </span>
    <button @click="handleClick">
      Click Me
    </button>

    {{ user }}
    <input type="text" v-model="user.email">
    <hr/>

    <li v-for="person in users">
      Name: {{ person.name }}
      Email: {{ person.email }}
    </li>
  </div>
</template>

<script>
export default {
  data() {
    return {
      a: 1,
      items: [1, 2, 3],
      user: {
        name: 'Warsono'
      },
      users: [
          {
            name: 'Warsono'
          },
      ]
    }
  },
  methods: {
    handleClick() {
      this.items[1] = 'Hello'
      this.addNewData()
      this.updateObj()
    },
    addNewData() {
      this.b = 'New'
    },
    updateObj() {
      this.user.email = 'warsono@gits.id'
      this.users[0].email = 'warsono@gits.id'
      this.users[1] = {
        email: 'noval@gits.id'
      }
    }
  }
}
</script>

<style scoped>

</style>
