<template>
  <div class="max-w-4xl mx-auto my-12">
    <div class="mb-6 flex align-middle justify-between">
      <span class="text-4xl">
        My Tasks
      </span>
      <span class="text-xl">
        ({{ itemsLeft }} Remaining)
      </span>
    </div>

    <div class="flex mb-6">
      <input v-model="newTask" ref="newTaskInput" class="rounded-xl w-full border-gray-300" type="text"
             placeholder="Type your task here..." @keydown.enter="addNewTask">
      <button class="bg-indigo-600 px-4 py-2 ml-2 rounded-lg text-white focus:outline-none" @click="addNewTask">
        Add
      </button>
    </div>

    <div
        v-for="(task, index) in tasks"
        class="flex align-middle border border-gray-300 rounded-md p-4 mb-4 hover:bg-indigo-50 transition duration-300">
      <div class="w-auto mr-4">
        <input :id="`task-${index + 1}`" v-model="task.isCompleted" type="checkbox" class="rounded">
      </div>
      <label :for="`task-${index + 1}`" class="w-full" :class="{'line-through': task.isCompleted}">
        {{ task.title }}
      </label>
      <div class="w-auto">
        <button class="text-red-600 font-bold" @click="removeTask(index)">
          Remove
        </button>
      </div>
    </div>

    <div v-if="!tasks.length" class="text-center p-12 text-xl text-gray-600">
      All done!
    </div>
  </div>
</template>

<script>
import useTasks from '../../composables/useTasks'

export default {
  setup() {
    return {
      ...useTasks(),
      // ...useAnything()
    }
  }
}
</script>

<style scoped>

</style>
