<template>
  <div class="text-white w-full md:px-2 mt-4 md:mt-0">
    <h1 class="text-white mb-3 font-bold text-3xl md:text-4xl">
      Forgot Password
    </h1>
    <div class="text-gray-200 text-md mb-5">
      We'll send you the forgot password link through your email
    </div>
    <form @submit.prevent="onSubmit">
      <div class="flex flex-col">
        <Input class="mb-4" size="md" placeholder="Email" type="text"
               id="email"/>
        <Button type="submit" color="info" size="md">
          Submit
        </Button>
      </div>
    </form>
  </div>
</template>

<script setup>
import Input from "@frontend/gits-ui/src/components/Base/Input.vue";
import Button from "@frontend/gits-ui/src/components/Base/Button.vue";
import {useRouter} from "vue-router";

const router = useRouter()

const onSubmit = () => {
  router.push('/cms/')
}
</script>

<style scoped>

</style>
