<template>
  <div class="text-white w-full md:px-2 mt-4 md:mt-0">
    <h1 class="text-white mb-2 font-bold text-3xl md:text-4xl">
      Welcome to the App
    </h1>
    <div class="text-gray-200 text-lg mb-5">
      Please login first
    </div>
    <form @submit.prevent="onSubmit">
      <div class="flex flex-col">
        <Input class="mb-4" size="md" placeholder="Username" type="text"
               id="username"/>
        <Input class="mb-3" size="md" placeholder="Password" type="password"
               id="password"/>
        <div class="flex flex-row items-center py-1 justify-between mb-3">
          <div class="flex-none">
            <label for="remember" class="flex text-sm items-center">
              <input class="rounded mr-2" type="checkbox" id="remember">
              Remember
            </label>
          </div>
          <div class="flex-none">
            <router-link class="text-sm" to="/cms/auth/forgot-password">
              Forgot Password
            </router-link>
          </div>
        </div>
        <Button type="submit" color="info" size="md">
          Login
        </Button>
      </div>
    </form>
  </div>
</template>

<script setup>
import Input from "@frontend/gits-ui/src/components/Base/Input.vue";
import Button from "@frontend/gits-ui/src/components/Base/Button.vue";
import {useRouter} from "vue-router";

const router = useRouter()

const onSubmit = () => {
  router.push('/cms/')
}
</script>

<style scoped>

</style>
