<template>
  <FeatureSections/>
  <CtaSections/>
  <SectionFour/>
  <SectionThree/>
  <TeamWork/>
</template>

<script setup>
import FeatureSections from "../components/FeatureSections.vue";
import CtaSections from "../components/CtaSections.vue";
import SectionThree from "../components/sectionThree.vue";
import SectionFour from "../components/sectionFour.vue";
import TeamWork from "../components/TeamWork.vue";
</script>

<style scoped>

</style>
