<template>
  <div>
    <h1 class="font-bold mb-2 text-gray-800">Dashboard</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus in incidunt inventore magni molestiae
      nam odio officiis, quam totam! Accusamus amet aut autem debitis est, magnam perspiciatis tempora voluptatum.
    </p>
  </div>
</template>

<script setup></script>

<style scoped>

</style>
