<template>
  <h1 class="font-bold mb-1 text-xl text-blue-900">Users Management</h1>
  <Breadcrumbs :items="breadcrumbs"/>

  <div class="flex gap-3">
    <div class="flex-grow">
        <input
            v-model="search"
            type="search"
            class="rounded text-sm border-gray-300 mb-3 w-full"
            placeholder="Search..."
        >
    </div>
    <div class="flex-none">
      <Button color="primary" to="/cms/users/create">Add New User</Button>
    </div>
  </div>

  <DataTable
      :headers="headers"
      :items="items"
      :items-per-page="pagination.itemsPerPage"
      :pagination="pagination"
      :loading="loading"
      :search-by="searchBy"
      v-model:search="search"
      v-model:sortBy="sortBy"
      v-model:sortDirection="sortDirection"
      @sort="handleSort"
  >
    <template #item.action="{item}">
      <Button title="View" size="xs" link :to="`/cms/users/${item.id}`">
        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
        </svg>
      </Button>
      <Button title="Edit" size="xs" link :to="`/cms/users/${item.id}/edit`">
        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
      </Button>
      <Button title="Delete" size="xs" link color="error" @click="isModalOpen = true">
        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      </Button>
    </template>
  </DataTable>

  <Modal v-model="isModalOpen" ok-color="error">
    <div class="sm:flex sm:items-start">
      <div
          class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        <!-- Heroicon name: exclamation -->
        <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
        </svg>
      </div>
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
          Deactivate account
        </h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500">
            Are you sure you want to deactivate your account? All of your data will be permanently removed. This
            action cannot be undone.
          </p>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script setup>
import {computed, onMounted, ref, watch} from 'vue';
import DataTable from '@frontend/gits-ui/src/components/Base/DataTable.vue'
import Breadcrumbs from "@frontend/gits-ui/src/components/Base/Breadcrumbs.vue";
import Button from "@frontend/gits-ui/src/components/Base/Button.vue";
import Modal from "@frontend/gits-ui/src/components/Base/Modal.vue";
import {getUsers} from "../../../composables/useUserAPI";

const isModalOpen = ref(false)

const breadcrumbs = ref([
  {
    to: '/cms',
    title: 'Dashboard',
  },
  {
    to: '/cms/users',
    title: 'User Management',
  },
  {
    to: '/cms/users',
    title: 'Users',
  },
])

const headers = ref([
  {
    text: 'ID',
    value: 'id',
    align: 'left'
  },
  {
    text: 'Name',
    value: 'name',
    align: 'left'
  },
  {
    text: 'Email',
    value: 'email',
    align: 'left'
  },
  {
    text: 'Action',
    value: 'action',
    align: 'center',
    sortable: false
  }
])

const searchBy = computed(() => headers.value.filter(item => item.value !== 'action').map(item => item.value))

const search = ref('')
const sortBy = ref('id')
const sortDirection = ref('asc')
const items = ref([])
const pagination = ref({
  itemsPerPage: 5
})
const loading = ref(false)

const getData = async (params = {}) => {
  loading.value = true

  const res = await getUsers({
      sortBy: searchBy.value,
      sortDirection: sortDirection.value,
      ...params
  })

  items.value = await res.json()

  loading.value = false

  pagination.value.totalItems = items.value.length
}

onMounted(() => {
  getData()
})

const handleSort = ({sortBy, direction}) => {
  console.log(sortBy, direction)
}

const timer = ref(null)

watch(search, (value => {
  console.log(value)
  clearTimeout(timer.value)
  timer.value = setTimeout(() => {
    getData({
      search: value
    })
  }, 500)
}))
</script>

<style scoped>

</style>
