<template>

  <h1 class="font-bold mb-1 text-xl text-blue-900">Users Management</h1>
  <Breadcrumbs :items="breadcrumbs"/>

  <form @submit.prevent="onSubmit">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-4 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {{ title }} User
        </h3>
      </div>
      <div class="border-t border-gray-200 p-4">
        <div class="flex gap-3">
          <div class="w-full md:w-6/12">
            <div class="flex flex-col mb-3">
              <label class="w-full mb-1 text-gray-700 text-sm font-medium" for="name">Name</label>
              <Input id="name" v-model="form.name"/>
              <div class="text-gray-400 text-xs mt-1">
                Please enter your full name
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12">
            <div class="flex flex-col mb-3">
              <label class="w-full mb-1 text-gray-700 text-sm font-medium" for="email">Email</label>
              <Input id="email" v-model="form.email" type="email"/>
              <div class="text-gray-400 text-xs mt-1">
                Make sure you enter the valid email
              </div>
            </div>
          </div>
        </div>
        <div class="flex gap-3">
          <div class="w-full md:w-6/12">
            <div class="flex flex-col mb-3">
              <label class="w-full mb-1 text-gray-700 text-sm font-medium" for="phone">Phone</label>
              <Input id="phone" v-model="form.phone" type="tel" />
              <div class="text-gray-400 text-xs mt-1">
                Please enter your phone number
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12">
            <div class="flex flex-col mb-3">
              <label class="w-full mb-1 text-gray-700 text-sm font-medium" for="username">Username</label>
              <Input id="username" v-model="form.username"/>
              <div class="text-gray-400 text-xs mt-1">
                Make sure you enter the full address
              </div>
            </div>
          </div>
        </div>

        <div class="flex gap-3">
          <div class="w-full md:w-6/12">
            <div class="flex flex-col mb-3">
              <label class="w-full mb-1 text-gray-700 text-sm font-medium" for="username">Website</label>
              <Input id="website" v-model="form.website"/>
              <div class="text-gray-400 text-xs mt-1">
                e.g. https://example.com
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 p-4 bg-gray-50 border-t border-gray-200 flex gap-3">
        <Button to="/cms/users" :disabled="isLoading">
          Cancel
        </Button>
        <Button type="submit" color="primary" :disabled="isLoading">
          {{ isLoading ? 'Loading...' : 'Submit' }}
        </Button>
        <div class="flex-grow"></div>
      </div>
    </div>
  </form>
</template>

<script setup>
import {ref, onMounted, computed, reactive} from 'vue';
import Breadcrumbs from "@frontend/gits-ui/src/components/Base/Breadcrumbs.vue";
import Button from "@frontend/gits-ui/src/components/Base/Button.vue";
import Input from "@frontend/gits-ui/src/components/Base/Input.vue";
import Textarea from "@frontend/gits-ui/src/components/Base/Textarea.vue";
import Select from "@frontend/gits-ui/src/components/Headless/Select.vue";
import Dropdown from "@frontend/gits-ui/src/components/Headless/Dropdown.vue";
import VSwitch from "@frontend/gits-ui/src/components/Headless/VSwitch.vue";
import useUserAPI from "../../../composables/useUserAPI";

const breadcrumbs = ref([
  {
    to: '/cms',
    title: 'Dashboard',
  },
  {
    to: '/cms/users',
    title: 'User Management',
  },
  {
    to: '/cms/users',
    title: 'Users',
  },
  {
    to: '/cms/users/create',
    title: 'Add New User',
  },
])

const {id, form, title, onSubmit, isLoading} = useUserAPI()

//
// const countries = ref([
//   {
//     text: 'Select Country',
//     value: ''
//   },
//   {
//     text: 'Indonesia',
//     value: 'indonesia'
//   },
//   {
//     text: 'Inggris',
//     value: 'inggris'
//   },
//   {
//     text: 'Amerika',
//     value: 'amerika',
//     disabled: true
//   }
// ])
</script>

<style scoped>

</style>
