<template>
  <div class="container mx-auto px-4">
    <div class="py-12 bg-white">
      <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
          <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Our Values</h2>
          <p class="mt-2 text-1xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            Odit est perspiciatis laborum et dicta
          </p>
        </div>

        <div class="mt-10 mb-10">
          <div class="space-y-10">
            <div class="flex flex-wrap">
              <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                <figure class="bg-white border border-gray-100 rounded-xl shadow p-5">
                  <img class="p-2 mx-auto" src="../assets/img/values-1.png" alt="" width="384" height="512">
                  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                    <p class="text-3xl text-indigo-600 text-center">The quick brown fox ...</p>
                    <p class="text-xl text-center">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit.</p>
                  </div>
                </figure>
              </div>
              <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                <figure class="bg-white border border-gray-100 rounded-xl shadow p-5">
                  <img class="p-2 mx-auto" src="../assets/img/values-2.png" alt="" width="384" height="512">
                  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                    <p class="text-3xl text-indigo-600 text-center">The quick brown fox ...</p>
                    <p class="text-xl text-center ">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit.</p>
                  </div>
                </figure>
              </div>
              <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                <figure class="bg-white border border-gray-100 rounded-xl shadow p-5">
                  <img class="p-2 mx-auto" src="../assets/img/values-3.png" alt="" width="384" height="512">
                  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                    <p class="text-3xl text-indigo-600 text-center">The quick brown fox ...</p>
                    <p class="text-xl text-center">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit.</p>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script setup>
</script>

<style scoped>

</style>
