<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <DataTable
            :headers="headers"
            :items="items"
            :pagination="paginationProps"
        >
          <template #item.action>
            <router-link class="text-blue-600" to="/cms">
              View
            </router-link>
            <router-link class="text-red-600 ml-2" to="/cms">
              Delete
            </router-link>
          </template>
        </DataTable>
      </div>
    </div>
  </div>

</template>

<script setup>
import {ref} from "vue";
import DataTable from '@frontend/gits-ui/src/components/Base/DataTable.vue'

const headers = ref([
  {
    text: 'ID',
    value: 'id',
    align: 'left'
  },
  {
    text: 'Name',
    value: 'name',
    align: 'left'
  },
  {
    text: 'Email',
    value: 'email',
    align: 'left'
  },
  {
    text: 'Action',
    value: 'action',
    align: 'center',
    sortable: false
  }
])

const items = ref([...Array(30)].map((v, index) => ({
  id: index + 1,
  name: `User ${index + 1}`,
  email: `user+${index + 1}@gits.id`
})))

const paginationProps = ref({})
</script>

<style scoped>

</style>
