<template>
  <router-view/>
</template>

<script setup>
import {provide} from 'vue'
import {menus} from "./utils/menus.cms";
import appConfig from '../app.config'

provide('menus', menus)
provide('appTitle', 'GITS')
provide('appSubtitle', 'Panel')
provide('authUser', 'Admin')
provide('logoutPath', '/cms/auth/login')
provide('appConfig', appConfig)
</script>

<style>
.body-auth {
  @apply bg-gradient-to-tr from-blue-600 to-blue-800 min-h-screen;
}
</style>
