<template>
  <AppHeader/>

  <div class="container mx-auto p-3">
    <router-view/>
  </div>

</template>

<script>
import AppHeader from "../components/AppHeader.vue";

export default {
  components: {AppHeader}
}
</script>

<style scoped>

</style>
